{% extends 'base.html' %}

{% block page_content %}
<p>
Airg’s Blockeducate—powered by Blockchain—is a unique and sustainable solution to the fake certification problem in the education sector. Blockeducate, which serves as a peer-to-peer (P2P) network and digital ledger of all transactions provide an incorruptible and immutable audit trail that eliminates counterfeiting in certifications.

Blockeducate utilizes smart contracts to encrypt and issue certificates on the Ethereum Blockchain safely. Students are provided with simple, attractive badges in wallets via a secure and seamless Easy to use SaaS web and mobile platforms.  They can share these badges with job providers to verify their educational achievements.  Job providers can ascertain educational content and authenticate the issued certificates without intervention from the certificate publisher.provides a Universal Wallet to all recipients of badges, certificates, ID cards that are published on the blockchain.  This Universal Wallet acts as a Passport for students to allow them to share their credentials anywhere in the world.  They are able to prove that they have earned these credentials and that the credentials can be verified on the blockchain.  Recipients control their data and their credentials but can share it with employers, recruiters or anyone that they chose to share with.

Airg allows verified Publishers to easily create and publish credentials on the blockchain.  These credentials follows the Mozilla Open Standards and can be shared by email, on social media sites like Facebook, Linkedin, and Twitter.  They utilize multi-signature and cryptographic algorithms to verify without a doubt who the issuer of the credentials are, the recipients of the credentials, and the details about the credentials itself.

Institutions and employers can solve “Fake diplomas” problem and promote Lifelong Learn with verified certificates anywhere in the world on the blockchain.

</p>

{% endblock %}